$navbar-height: 50px;

$map-legend-width: 250px;
$small-map-legend-height: 100px;

$iphone-max-width: 568px;

html, body {
  margin: 0px;
}

/**
 * index
 */

#map {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: $map-legend-width;

  @media (max-width: $iphone-max-width) {
    right: 0;
    bottom: $small-map-legend-height;
  }

  .popup-custom-view {
    font-size: 14px;
  }

  .popup-photo {
    max-width: 50px !important;
    float: left;
    margin-right: 10px;
  }

  .popup-title {
    font-size: 14px;
  }

  .popup-desc {
    font-size: 12px;
    margin-top: 15px;
  }

  .popup-country {
    font-weight: bold;
  }

  .popup-url,
  .popup-facebook,
  .popup-twitter,
  .popup-google
  {
    display: block;
  }
}

#legend {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  right: 0;
  width: $map-legend-width;

  @media (max-width: $iphone-max-width) {
    left: 0px;
    width: 100%;
    top: auto;
    height: $small-map-legend-height;
  }

  overflow-y: auto;

  .legendItem {
    border-top: 1px solid #e7e7e7;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #e7e7e7;
    }

    .legendItemCountry {
      font-weight: bold;
      font-size: 16px;
      color: #0078A8;
    }

    .legendItemTitle {
    }
  }
}
