html, body {
  margin: 0px;
}

/**
 * index
 */

#map {
  position: absolute;
  top: 50px; /* navbar height */
  bottom: 0;
  left: 0;
  right: 0px;
}

#map .popup-custom-view {
  font-size: 14px;
}

#map .popup-photo {
  max-width: 50px !important;
  float: left;
  margin-right: 10px;
}

#map .popup-title {
  font-size: 16px;
}

#map .popup-desc {
  font-size: 12px;
  margin-top: 20px;
}

#map .popup-country {
  font-weight: bold;
}

#map .popup-url {
}
