<div class="popup-custom-view">
  {{#if view.content.photo}}<img {{bind-attr src=view.content.photo}} class="popup-photo" />{{/if}}
  <span class="popup-title">{{view.content.popupTitle}}</span>
  <div class="popup-desc">{{view.content.popupDescription}}</div>
  <a {{bind-attr href=view.content.url}} class="popup-url">website</a>
</div>
