<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Planet Williams</h2>
      <p>
          Listing all Williams Syndrome associations around the world.
      </p>
      <p>
          Built by <a href="https://twitter.com/aymerick">@aymerick</a>, father of a little boy with Williams Syndrome.
      </p>
    </div>
  </div>
</div>
