<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Planet Williams</h2>
      <p>
          Trying to list all Williams Syndrome associations around the world.
      </p>
      <p>
          Built by <a href="http://www.aymerick.com">aymerick</a>.
      </p>
    </div>
  </div>
</div>
